<%= form_for @raw_email do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :raw_email %><br />
    <%= f.text_area :raw_email, :html => {:class => "raw_email"} %>
  </p>
  <p><%= f.submit %></p>
<% end %>
